.breadcumb {
  min-height: 304px;
  background-repeat: no-repeat;
  background-size: cover;

  & > div {
    min-height: 304px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
      margin-bottom: 0;
    }

    div {
      margin-top: 18px;

      a {
        font-size: 14px;
        line-height: 32px;
        color: #FFFFFF;
        text-decoration: none;
        letter-spacing: 6px;
        display: inline-block;
      }
    }
  }

  @media (max-width: 768px) {
    & > div {
      h2 {
        text-align: center;
      }

      div {
        a {
          letter-spacing: 2px;
        }
      }
    }
  }
  @media (max-width: 576px) {
    & > div {
      h2 {
        text-align: center;
        font-size: 24px;
        line-height: 30px;
      }

      div {
        text-align: center;
        margin-top: 10px;
        a {
          letter-spacing: 2px;
        }
      }
    }
  }
}