@import '../../assets/libs/mixins';


.course-detail {
  &__wrapper {
    padding-top: 41px;
    padding-bottom: 120px;
  }

  &__card {
    padding: 26px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.07);
    position: sticky;
    top: 10px;
    &-img {
      height: 274px;
      width: 100%;
      position: relative;

      span {
        @include playIcon;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-body {
      margin-top: 28px;
    }

    &-price {
      padding-bottom: 23px;
      display: flex;
      align-items: center;
      gap: 20px;
      border-bottom: 1px solid #E4E4E4;

      span {
        display: inline-block;

        &:first-child {
          font-weight: bold;
          font-size: 36px;
          line-height: 44px;
          color: var(--black);
        }

        &:nth-child(2) {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          text-decoration-line: line-through;

          color: #B5B5B5;
        }
      }
    }

    &-level {
      margin-top: 28px;
      display: flex;
      align-items: center;
      gap: 9px;
    }
  }

  &__button {
    margin-top: 41px;
    border-radius: 25px;
  }

  &__header {
    h3 {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 0;
    }

    p {
      margin-top: 24px;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: -0.625263px;
      color: #696871;
      margin-bottom: 0;
    }

    & > div {
      margin-top: 31px;
      display: flex;
      align-items: center;
      gap: 13px;

      div {
        h6 {
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: var(--black);
          margin-bottom: 10px;
        }
        span {
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          letter-spacing: -0.625263px;
          color: #696871;
        }
      }
    }
  }
  &__tabs {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 71px;
    h5 {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      cursor: pointer;
      color: #69697B;
      padding: 20px 30px;
      text-align: center;
      &.active {
        color: var(--blue);
        font-weight: bold;
      }
    }
  }

  &__description {
    margin-top: 36px;
    h4 {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 21px;
    }
    article {
      font-size: 16px;
      line-height: 32px;
      letter-spacing: -0.625263px;
      color: #696871;
    }
    img {
      margin-top: 25px;
      margin-bottom: 39px;
    }
    ul {
      margin-top: 31px;
      li {
        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.625263px;
        color: #696871;
      }
    }
    h5 {
      font-size: 24px;
      line-height: 29px;

    }
  }
}